html {
    background-color: #f8f8f8;
    font-family: sans-serif;
    width: 100%
}

.maincontainer {
    background-color: #f8f8f8;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto 400px;
}

.header {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    grid-row: 1 / 2;
}

.workspace {
    height: 480px;
}

#leftdiv {
    width: 100%;
}

#middlediv {
    width: 100%;
}

#rightdiv {
    width: 100%;
}

.injectionDiv {
    border: #999 1px solid;
    border-radius: 3px;
}

#simulatorarea {
    position: relative;
    border: 1px #999 solid;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
}

#simulatordiv {
    position: relative;
    width: 400px;
    height: 450px;
    margin-bottom: 5px;
}

.sim-robot {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.sim-station {
    position: absolute;
    width: 60px;
    height: 30px;
}

.sim-item {
    position: absolute;
    width: 20px;
    height: 20px;
}

.taskButton {
    fill: #5C9FA6;
}

.locationButton {
    fill: #A08260;
}