html {
    background-color: #f8f8f8;
    font-family: sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto 400px;
}

.header {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    grid-row: 1 / 2;
}

.workspace {
    height: 480px;
}

#leftdiv {
    width: 100%;
}

#rightdiv {
    width: 100%;
}

#simulatordiv {
    width: 400px;
    height: 400px;
    border: 1px black solid;
    background-color: #FFFFFF;
}

#sim-robot {
    position: relative;
    width: 30px;
    height: 30px;
}

#sim-station {
    position: relative;
    width: 30px;
    height: 20px;
}


.taskButton {
    fill: #5C9FA6;
}

.locationButton {
    fill: #A08260;
}